body {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  color: white;
  background-color: hsl(120, 50%, 5%);
}

header {
  margin-bottom: 3rem;
  @media (max-width: 600px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

header h1 {
  font-size: 4rem;
  font-size: calc(0.5rem + 3vw);
  font-weight: 300;
  text-align: center;
  margin: 0;
  @media (max-width: 600px) {
    font-weight: 400;
  }
}

header img {
  margin: 10px;
  @media (max-width: 600px) {
    max-width: 10vw;
  }
}

a {
  color: hsl(120, 40%, 35%);
  &:hover {
    color: hsl(120, 30%, 80%);
  }
}

footer {
  padding-top: 10px;
  font-size: 0.7em;
  color: hsl(120, 30%, 80%);
}
